/*      FONT     */
@font-face {
    font-family: Parisienne;
    src: url(/font/Parisienne-Regular.ttf);
}
@font-face {
    font-family: Stencillia;
    src: url(/font/Stencilia-Bold.ttf);
}

/*      BODY     */
body{
    margin: 0;
}

/*      CONTAINER     */
#container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

/*      HEADER     */
    #header{
        width: 100%;
        height: 100px;
        display: flex;
        color: #AF4E5B;
        justify-content: space-around;
        border-bottom: solid 2px #AF4E5B;
    }
    #header h1{
        margin: auto 0;
        color: black;
        border-top: solid 1px black; 
        border-bottom: solid 1px black;
        font-size: 60px;
    }
    #header h3{
        margin: auto 0;
        text-align: center;
        font-family: Parisienne;
        font-size: 30px;
    }
    #header img{
        margin: auto 0;
        width: 60px;
        height: 60px;
    }
/*      MAIN     */
    #main{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #imagePres{
        width: 100%;
        height: 600px;
        object-fit: cover;
    }
    .article{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }
    .article h2{
        font-family: Parisienne, sans-serif;
        font-size: 40px;
    }
    .article div{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }
    .article div img{
        width: 500px;
        margin-left: 10px;
    }

/*      FOOTER     */
    #footer{
        width: 100%;
        height: 100px;
        display: flex;
        background-color: #212121;
        color: white;
        justify-content: space-around; 
        border-top: solid 2px #AF4E5B;   
    }
    #footer h2{
        margin: auto 0;
        width: 80%;
        display: flex;
        justify-content: space-around;
    }
    #footer h2 a{
        text-decoration: none;
        color: white;
    }
    #footer h2 a:hover{
        color: #AF4E5B;
    }
    
/*      COOKIES     */

    #cookies{
        z-index: 10;
        background-color: #7c3f47;
        color: white;
        width: 100%;
        height: 150px;
        position: fixed;
        bottom: 0;
        display: flex;

    }
    #cookies p{
        font-size: 20px;
        width: 70%;
        margin: 20px auto;

    }
    #cookies div{
        margin: auto;
    }
    #cookies div button{
        border: solid 1 black;
        border-radius: 10px;
        width: 100px;
        height: 40px;
    }
    #accept{
        background-color: rgb(27, 155, 27);
        color: white;
    }
    #late{
        background-color: wheat;
    }
    #none{
        background-color: rgb(49, 49, 145);
        color: white;
    }

    .displayNone{
        display: none!important;
    }